<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %-5level %-35.35logger{35} %-25.-25thread %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>../logs/currency-watch.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>../logs/currency-watch.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d %-5level %-35.35logger{35} %-25.-25thread %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="org.strangeforest.currencywatch" level="DEBUG"/>

	<logger name="org.strangeforest.currencywatch.jdbc" level="DEBUG"/>

	<logger name="org.strangeforest.currencywatch.nbs" level="TRACE"/>

	<logger name="org.strangeforest.currencywatch.web.provider" level="TRACE"/>

	<root level="INFO">
		<appender-ref ref="CONSOLE"/>
		<appender-ref ref="FILE"/>
	</root>

</configuration>

